@use "../abstracts" as *
	
#component
	background: white
	color: $clr-desaturated-blue
	border-radius: 20px
	overflow: hidden
	width: 335px
	box-shadow: 0px 20px 50px $clr-desaturated-blue
	.component-text
		padding: 35px 25px
		h1
			font-size: 1.4rem
			font-weight: $fw-black
			color: $clr-dark-blue
			text-align: center
		.description
			text-align: center
			line-height: 1.5
			padding: 20px 5px
		.plan
			background: $clr-very-pale-blue
			border-radius: 10px
			padding: 20px
			display: flex
			align-items: center
			justify-content: space-between
			font-size: 0.9rem
			.icon-and-info
				display: flex
				align-items: center
				gap: 20px
				.plan-info
					line-height: 1.4
					h2
						color: $clr-dark-blue
						font-weight: $fw-black
			a
				color: $clr-bright-blue
				font-weight: $fw-bold
				text-decoration: underline
		button
			width: 100%
			border: none
			color: white
			background: $clr-bright-blue
			height: 50px
			font-weight: $fw-black
			font-size: 0.9rem
			border-radius: 10px
			margin: 20px 0 30px
			box-shadow: 0px 20px 10px $clr-pale-blue
		a
			display: block
			text-align: center
			font-weight: $fw-black
			font-size: 0.9rem